.env
.ipynb_checkpoints
__pycache__

Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCapture/
Recordings/

.vscode/
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb