.env
.ipynb_checkpoints
__pycache__

Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCapture/
Recordings/
Llama-elyza-3-8B-DPO/
llama-3-8b-elyza-ja-werewolf-awq/
DPO_results/
csv/

.vscode/
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
